<section class="articles">
    <h3 class="green">{{ title|default("L'actualité") }}</h3>
    {% for i,type in ["simple", "simple", "reduit", "reduit", "reduit"]|slice(0, articles|length) %}
        {% with { article : articles[i] } %}{{ block('lien_article', 'pages/_modules/liens.html.twig') }}{% endwith %}
    {% endfor %}
    <div class="link-more">
        {% if category is defined %}
        <a href="{{ path('blog_category', {category: category}) }}" class="btn primary green">Voir tous les articles</a>
        {% else %}
        <a href="/blog/" class="btn primary green">Voir tous les articles</a>
        {% endif %}
    </div>
</section>
