<section>
    <div class="encart lien-faq full center">
        <p>{{title|default('Vous avez des questions ?')}}</p>
        <a href="{{lien|default('#')}}" class="arrow-right-before">Visiter la FAQ</a>
    </div>
</section>
