<section class="promise">
    <div class="promise-title">
        {% block title %}<h2 class="max">{{ ((data is defined) ? (data.titre|nl2br)|raw) }}</h2>{% endblock %}
    </div>
    <div class="promise-text">
        {% block text %}{{ ((data is defined) ? (data.texte|raw)) }}{% endblock %}
    </div>
</section>
