<section class="tabs">
    <div class="tabbar">
        <ul class="menu reset">
            {% for i in range(1, num) %}
                {% set b = 'title_' ~ i %}
                <li{% if loop.index == 1 %} class="active"{% endif %}><a href="#tab_{{i}}" style-hover>{{ block(b) }}</a>
            {% endfor %}
        </ul>
    </div>
    <div class="panels">
        {% for i in range(1, num) %}
            {% set b = 'panel_' ~ i %}
            <div class="panel{% if loop.index == 1 %} active{% endif %}" id="tab_{{i}}">
                {{ block(b) }}
            </div>
        {% endfor %}
    </div>
</section>
<script>
// TODO handle mutiple modules in the same page
document.querySelectorAll('.tabbar a').forEach((el) => {
    el.addEventListener('click', function() {
        let target = el.getAttribute('href').substr(1);
        document.querySelectorAll('.panels div').forEach((div) => {
            div.classList.toggle('active', div.id == target);
        })
        document.querySelector('.tabbar li.active').classList.remove('active');
        el.parentElement.classList.add('active');
    })
});
</script>