{% extends 'base_page.html.twig' %}

{% block body %}
    <main class="videos">
        <section class="hero bando-small" style="--bg-image:url({{asset('build/images/bando-videos.jpg')}}); margin:0;"><h3>les vidéos d’HARMONIE</h3></section>
        <section class="liste-videos">
            <div class="data">
                {% for video in videos %}
                    {{ block('lien_video', 'pages/_modules/liens.html.twig') }}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}


{% macro format(value, suffix = '') %}
    {% if value is empty %}NC{% else %}{{value ~ suffix}}{% endif %}
{% endmacro %}