<nav>
    <section>
        <div class="menu-mobile"></div>
        <a href="/" class="logo"></a>
        <ul class="menu reset nostyle">
            {{ menu_content|default('')|raw }}
            <li class="contact"><a href="/contact/" style-hover>Contact</a></li>
            <li><a href="/blog/" style-hover>Blog</a></li>
        </ul>
        <div class="toolbar">
            <a href="{{ offuscate(site.social.twitter, site.offuscateBypass)|raw }}" target="_blank" class="social hide-text twitter">Twitter</a>
            <a href="{{ offuscate(site.social.facebook, site.offuscateBypass)|raw }}" target="_blank" class="social hide-text facebook">Facebook</a>
            <a href="{{ offuscate(site.social.linkedin, site.offuscateBypass)|raw }}" target="_blank" class="social hide-text linkedin">Linkedin</a>
        </div>
    </section>
</nav>