/**************/
/* OPEN SANS */
/**************/
@font-face {
    font-family  : 'Open Sans';
    font-style   : normal;
    font-weight  : 300;
    src          : local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family  : 'Open Sans';
    font-style   : normal;
    font-weight  : 400;
    src          : local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family  : 'Open Sans';
    font-style   : normal;
    font-weight  : 600;
    src          : local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family  : 'Open Sans';
    font-style   : normal;
    font-weight  : 700;
    src          : local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'icomoon';
    src        : url('../fonts/icomoon.eot?gv2imf');
    src        : url('../fonts/icomoon.eot?gv2imf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?gv2imf') format('truetype'),
        url('../fonts/icomoon.woff?gv2imf') format('woff'),
        url('../fonts/icomoon.svg?gv2imf#icomoon') format('svg');
    font-weight : normal;
    font-style  : normal;
    font-display: block;
}

$icons: (facebook: "\e900",
linkedin: "\e901",
mail: "\e902",
message: "\e903",
tel: "\e904",
twitter: "\e905",
visio: "\e906",
east: "\e90a",
north: "\e908",
south: "\e909",
west: "\e907",
) !default;

@mixin icomoon($icon, $prefix:'', $suffix:'') {
    @if map-has-key($icons, $icon) {
        content: $prefix map-get($icons, $icon) $suffix;

        /* use !important to prevent issues with browser extensions that change fonts */
        font-family   : 'icomoon' !important;
        speak         : never;
        font-style    : normal;
        font-weight   : normal;
        font-variant  : normal;
        text-transform: none;
        line-height   : 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing : antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$icon}`. "
        +"Available icons are: #{map-keys($icons)}.";
    }
}