.admin .menu {
    display       : flex;
    flex-direction: column;
    position      : relative;
    height        : 100%;
    width         : 100%;
    background    : $color10;
    color         : $color1;
    padding       : 2rem 0;
    box-sizing    : border-box;

    .profil {
        text-align    : center;
        font-size     : 1.125rem;
        border-bottom : 1px solid $color1;
        margin        : 1rem 0 .5rem;
        padding-bottom: 1rem;

        @include breakpoint(large) {
            margin        : 2rem 0 1rem;
            padding-bottom: 2rem;
        }

        &:before {
            content: "";
            display: block;
            @include picto_svg($svg-profil, 100px, 100px);
            margin: 0 auto 1rem;
        }

        a[href] {
            color    : $color1;
            font-size: .875rem;
        }
    }

    ul {
        list-style             : none;
        // margin              : 0 -1.175em;
        padding-inline-start   : 0;

        .group {
            text-transform: uppercase;
            background    : $color30;
            padding       : 1em 1.25rem;
            margin-top    : 1.5em;
        }

        li {
            a[href] {
                line-height   : 46px;
                height        : 46px;
                display       : block;
                color         : $color1;
                text-transform: uppercase;
                padding       : 0 1.25rem 0 3.75rem;
                position      : relative;
                transition    : all ease .3s;

                @include breakpoint(medium) {
                    line-height: 50px;
                    height     : 50px;
                }

                &:before {
                    content   : "";
                    position  : absolute;
                    left      : 1.25rem;
                    top       : 50%;
                    margin-top: -15px;
                }

                &:hover {
                    background: $color1;
                    color     : $color10;

                    &:after {
                        opacity: 1;
                    }
                }

                &.active {
                    background : $color1;
                    color      : $color10;
                    font-weight: $font-semibold;

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}