.cookie-consent {
    display: none;

    &.active {
        display   : block;
        position  : fixed;
        bottom    : 0;
        right     : 0;
        left      : 0;
        padding   : 1em;
        background: #FFF;
        z-index   : 1000;
        border-top: solid 1px #CCC;
    }
}

.cookie-consent-configure {
    display: none;

    &.active {
        display   : block;
        width     : 100%;
        position  : fixed;
        bottom    : 0;
        right     : 0;
        padding   : 1em;
        background: #FFF;
        z-index   : 1000;
        border-top: solid 1px #CCC;

        &>div {
            max-width: 60em;
            margin   : 0 auto;

            table {
                border-collapse: collapse;

                td {
                    vertical-align: middle;
                    border        : solid 1px #CCC;
                    padding       : 1em;
                }
            }
        }
    }
}

.cookie-consent,
.cookie-consent-configure {
    a.btn {
        padding      : 1em;
        border-radius: 4px;

        &:hover {
            background-color: $color34;
        }
    }
}