body.content,
section.content {

    &>* {
        grid-column: 3 / -3;
    }

    p {
        font-size: 16px;
    }

    h1 {
        color: $color30;
    }

    h2 {
        color: $color20;
    }

    img {
        max-width: 100%;
    }

    hr {
        margin       : 3em 0;
        border       : none;
        border-bottom: solid 1px #CCC;
    }

    div.sommaire {
        position: relative;
        padding : 1em 0;

        &::before {
            content   : "";
            position  : absolute;
            top       : 0;
            bottom    : 0;
            left      : -75px;
            right     : -75px;
            background: $color17;
            z-index   : -1;
        }

        h3 {
            margin: 1em 0;
        }

        a[href] {
            display: block;
            margin : 1em 0;
        }
    }
}