main.home {
    section.hero {
        margin         : 0;
        padding-bottom : 0;
        background: $color10;

        @include breakpoint(medium) {
            grid-template-columns: repeat(12, 1fr);
        }

        @include breakpoint(large) {
            grid-template-columns: 1fr repeat(12, 66px) 1fr;
        }


        div.cta {
            height                 : 280px;
            color                  : $color1;
            display                : flex;
            align-items            : center;
            margin                 : 74px 0 40px;
            grid-column            : 1/-1;
            z-index: 3;

            @include breakpoint(medium) {
                grid-column: 2 / span 6;
                height     : 660px;
                margin     : 0;
            }

            h1 {
                color    : $color1;
                font-size: 1.5rem;
                text-transform: none;
                background: $color10;
                padding:1rem 0;
                margin-top:1rem;

                @include breakpoint(medium) {
                    font-size: 2rem;
                    width:480px;
                    padding:1.5rem 0;
                }

                @include breakpoint(large) {
                    font-size: 3rem;
                    width: 680px;
                }
            }

            h3 {
                text-transform: uppercase;
                color         : $color1;
                margin        : 0;
                span{
                    border-bottom:1px solid $color1;
                    padding-bottom: .5rem;
                }

                font-size: 1rem;

                @include breakpoint(medium) {
                    font-size: 1.5rem;
                }
            }

            .btn {
                border:1px solid $color30;
                padding:.25rem;
                background: $color10;
                border-radius: .75rem;

                span{
                    background: $color30;
                    display:inline-block;
                    padding: .75rem 1.25rem;
                    font-weight: $font-bold;
                    text-transform: none;
                    font-size:1.25rem;
                    border-radius: .625rem;

                    @include breakpoint(medium) {
                        font-size:1.5rem;
                        padding: 1.125rem 2rem;
                    }
                }
            }

            >div {
                width: 100%;
            }
        }

        div.bg{
            background     : $color10 50% 50% url($img-hero) no-repeat;
            background-size: cover;
            grid-column: 8 / -1;
        }
    }

    .promise-text {
        text-align           : center;
        background           : $color10;
        margin               : 0 0 3em;
        grid-template-columns: none;
        padding              : 0 2rem;

        a {
            display       : inline-block;
            margin        : 1em;
            color         : $color33;
            text-transform: uppercase;
            font-size     : 1rem;

            @include breakpoint(medium) {
                font-size: 1.25rem;
            }
        }
    }

    section.history {
        margin-bottom: 0;
        background: $color17;
        padding-top:3rem;

        &>div {
            grid-column: 1/-1;
        }

        .nav {
            text-align: center;
            margin    : 0 0 1rem;


            li {
                display   : inline-block;
                position  : relative;
                padding   : 32px .5rem 1rem;
                font-size : .875rem;
                color     : $color14;
                cursor    : pointer;
                transition: all 0.3s;
                width     : 2rem;
                border:1px solid $color1;
                background: $color1;
                border-radius:.75rem;
                margin: 0 .25rem .5rem;

                @include breakpoint(medium) {
                    padding: 32px .75rem 1rem;
                }

                &:before {
                    content      : "";
                    position     : absolute;
                    width        : 12px;
                    height       : 12px;
                    left         : 50%;
                    top          : 12px;
                    margin-left  : -6px;
                    border       : 2px solid $color16;
                    background   : $color1;
                    border-radius: 100%;
                    box-sizing   : border-box;
                    transition   : all 0.3s;
                    z-index      : 2;
                }

                /*&:after {
                    content   : "";
                    position  : absolute;
                    width     : 3rem;
                    top       : 5px;
                    left      : calc(50% - 3rem);
                    height    : 2px;
                    background: $color14;
                    box-sizing: border-box;

                    @include breakpoint(medium) {
                        width: 4rem;
                        left : calc(50% - 4rem);
                    }
                }*/

                &.active {
                    font-weight: $font-semibold;
                    color      : $color30;
                    border-color:$color30;
                    background: $color37;

                    &:before {
                        background  : $color30;
                        border-color: $color30;
                    }
                }

                &:first-child {
                    &:after {
                        display: none;
                    }
                }

                &:hover {
                    color: $color33;

                    &:before {
                        background  : $color33;
                        border-color: $color33;
                    }
                }
            }
        }

        .text {
            margin    : 0 auto 2rem;
            max-width : 500px;
            min-height: 280px;

            li {
                display: none;

                .y {
                    font-size    : .75rem;
                    border-bottom: 2px solid $color16;
                    color        : $color31;
                    padding      : .75rem 0;
                    position     : relative;

                    &:after {
                        content   : "";
                        position  : absolute;
                        height    : 2px;
                        background: $color31;
                        width     : 50%;
                        left      : 0;
                        bottom    : -2px;
                    }
                }

                .t {
                    font-weight  : $font-semibold;
                    font-size    : 1.125rem;
                    line-height  : 1.5rem;
                    color        : $color31;
                    border-bottom: 2px solid $color16;
                    padding      : 1rem 0;
                }

                p {
                    font-size  : .875rem;
                    line-height: 1.6;

                    @include breakpoint(medium) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    section.labels {
        background: $color17;
        padding   : 2rem 0;

        &>div {
            grid-column: 1/-1;
            text-align : center;

            @include breakpoint(medium) {
                grid-column: span 4;
            }
        }
    }
}