main.faq {
    section.faq_index {
        div.data {
            grid-column: 3/-3;
        }
    }
}

a.faq_link {
    display      : flex;
    background   : #CCC;
    padding      : 1em;
    margin-bottom: .5em;
    align-items  : center;
    font-size    : 1.2em;

    &::before {
        content     : attr(data-count) ".";
        color       : $color20;
        font-weight : $font-bold;
        margin-right: 1em;
    }

    &::after {
        content                 : "";
        margin-left             : auto;
        @include picto_svg("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQogIDxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgeD0iNCIgeT0iNCIgc3Ryb2tlPSIjMjg3NjU4IiBzdHJva2Utd2lkdGg9IjIiIHJ4PSIzIi8+DQogIDxwYXRoIGZpbGw9IiMyODc2NTgiIGQ9Ik0xMSA3aDJ2MTBoLTJWN3oiLz4NCiAgPHBhdGggZmlsbD0iIzI4NzY1OCIgZD0iTTE3IDExdjJIN3YtMmgxMHoiLz4NCjwvc3ZnPg==", 1em, 1em);
    }
}