{% extends 'admin/index.html.twig' %}

{% block title %}Edition Page{% endblock %}

{% block content %}
    <div class="bloc | grid-span-12-col">
        <div class="heading">
            <h3>Ajout Page</h3>
        </div>
        <div class="content">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
