{% extends 'admin/index.html.twig' %}

{% block title %}Edition Redirection{% endblock %}

{% block content %}
    <div class="bloc | grid-span-12-col">
        <div class="heading">
            <h3>Edition Redirection</h3>
            <a href="{{ path('admin_redirect_index') }}">Retour <span>à la liste</span> &#8634;</a>
        </div>
        <div class="content">
            {{ include('_document/page/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
