<section class="hero">
    <div class="cta">
        <div>
            <h3><span>HARMONIE</span></h3>
            <h1>Confiez-nous<br>vos travaux de ravalement <br>en copropriété.</h1>
            <div class="center">
                <a href="/formulaire/" class="btn primary large pulsar"><span>Devis gratuit</span></a>
            </div>
        </div>
    </div>
    <div class="bg"></div>
</section>