<section class="labels">
    <h3>Nos labels et distinctions</h3>
    <div>
        <img src="{{ asset('build/images/label-1.jpg') }}"/>
    </div>
    <div>
        <img src="{{ asset('build/images/label-2.jpg') }}"/>
    </div>
    <div>
        <img src="{{ asset('build/images/label-3.jpg') }}"/>
    </div>
</section>