{% extends 'base_page.html.twig' %}

{% block title %}{{ titre|default(page.meta.titre) }}{% endblock %}

{% block menu_content %}{{ include('pages/home/_menu.html.twig') }}{% endblock %}

{% block body %}
    <main class="home">
        {% include 'pages/home/_section_hero.html.twig' %}
        {% include 'pages/home/_section_hooks.html.twig' %}
        {{ render(path('_module_map', { page : 'home'})) }}</td>
        {% include 'pages/home/_section_history.html.twig' %}
        {% include 'pages/home/_section_testimonial.html.twig' %}
        {% include 'pages/home/_section_labels.html.twig' %}
        {% include 'pages/home/_section_videos.html.twig' %}
    </main>
{% endblock %}