{% extends 'base_page.html.twig' %}

{% block body %}
    <main class="tete-silo">
        {% with {hero: portlets.hero_split_image} %}{{ block('split', 'pages/_modules/hero.html.twig') }}{% endwith %}
        <section class="col-hooks">
            <h2>Les travaux en copropriété</h2>
            <div class="hook main-grid">
                <div class="col1" style="--bg-image: url({{asset('build/images/hook1.jpg')}})"></div>
                <div class="col2">
                    <p>Quand on est copropriétaire ou à fortiori membre du conseil syndical, il est difficile de ne pas se sentir impliqué lorsqu’un ravalement est à l’ordre du jour. <b>Bien que l'enjeu soit souvent la valorisation de votre patrimoine, entreprendre des travaux n'est jamais chose aisée</b> surtout lorsque l'on aborde les "gros travaux" que sont le ravalement ou la réfection de la toiture.</p>
                    <p>Depuis 20 ans, les tenants et aboutissants des travaux d'intérêt collectifs ont tendance à devenir de plus en plus nombreux et complexes à appréhender.</p>
                    <p>De leur côté, les entreprises de ravalement ont vu aussi leurs métiers évoluer. Il est aujourd’hui <b>impensable d’offrir à une copropriété une simple prestation technique de travaux. Certains types de travaux, comme ceux de performance énergétique</b> soulèvent plus de questions que d'autres.</p>
                    <p><b>Harmonie ne travaille qu’en copropriété</b>, que ce soit directement pour les copropriétaires, des institutionnels ou des bailleurs privés. Les attentes des copropriétaires évoluent, les besoins en conseil et en expertise se multiplient sur des sujets variés : <b>la rénovation énergétique</b>, bien sûr, mais aussi le rôle d'un architecte, le rôle de l'ingénieur financier, l'importance de l'audit énergétique et du diagnostic amiante avant travaux.</p>
                    <p>Il y a également le sujet fondamental sur lequel Harmonie va au-devant des copropriétés : <em>le timing des travaux</em>.</p>
                </div>
            </div>
        </section>
        {{ render(path('_module_map', { page : 'copropriete'})) }}</td>
        {% embed 'pages/_modules/produits.html.twig' with {id: "p1", data: portlets.produits} %}{% endembed %}
        {% embed 'pages/_modules/paves.html.twig' with {data: portlets.paves} %}{% endembed %}
        {{ render(path('_module_articles', {title:"L'actualité des copropriétés", category:'copropriete'})) }}
        {% with {title:"Vous avez des questions ?", lien:'/faq/'} %}{% include 'pages/_modules/faq.html.twig' %}{% endwith %}
    </main>
{% endblock %}