{% extends 'base_page.html.twig' %}

{% block body %}
    <main class="tete-silo">
        {% with {hero: portlets.hero_split_image} %}{{ block('split', 'pages/_modules/hero.html.twig') }}{% endwith %}
        {{ render(path('_module_map', { page : 'etancheite'})) }}</td>
        {% embed 'pages/_modules/produits.html.twig' with {id: "p1", data: portlets.produits_1} %}{% endembed %}
        {% embed 'pages/_modules/paves.html.twig' with {data: portlets.paves} %}{% endembed %}
        {{ render(path('_module_articles', {title:"L'actualité de l'étanchéité", category:'etancheite'})) }}
        {% with {title:"Vous avez des questions ?", lien:'/faq/'} %}{% include 'pages/_modules/faq.html.twig' %}{% endwith %}
    </main>
{% endblock %}