<template id="cookie-consent-template">
    <div class="cookie-consent">
        <p>Nous utilisons des cookies ou traceurs afin de faciliter votre navigation sur le site, vous proposer des publicités personnalisées en fonction de votre profil de navigation et de votre localisation, partager des contenus sur les réseaux sociaux et autres plateformes en ligne, et établir des statistiques ayant pour objectif d’améliorer votre expérience sur notre site. Les cookies techniques ne sont pas paramétrables mais les autres nécessitent votre accord pour être déposés. </p>
        <div>
            <a href="javascript:;" class="btn" action="configure">Personnaliser votre choix</a>
            <a href="javascript:;" class="btn" action="reject">Tout refuser</a>
            <a href="javascript:;" class="btn" action="accept">Tout accepter</a>
        </div>
    </div>
    <div class="cookie-consent-configure">
        <div>
            <h2>Paramétrage des préférences</h2>
            <table>
                <tr>
                    <td><h6>Cookies techniques (nécessaires)</h6></td>
                    <td><p>Ces cookies sont nécessaires au bon fonctionnement du site et rendent votre navigation plus confortable. Ils vous permettent de vous authentifier plus facilement sur notre plateforme et gardent en mémoire le contenu de votre panier d’achat. Ils permettent également de personnaliser votre interface utilisateur notamment concernant le choix de la langue.</p></td>
                    <td></td>
                </tr>
                {# <tr>
                    <td><h6>Cookies publicitaires</h6></td>
                    <td><p>Ces cookies peuvent être déposés par notre site mais aussi par des tiers. Ils permettent de cibler vos préférences, afin de vous proposer des publicités adaptées à vos centres d’intérêt et à votre profil de navigation. Ces publicités peuvent également vous être proposées en fonction de votre localisation géographique.</p></td>
                    <td><div class="custom_toggle_switch"><label><input type="checkbox" value="targeting"><span></span> Accepter</label></div></td>
                </tr>
                <tr>
                    <td><h6>Personnalisation du contenu</h6></td>
                    <td><p>Ces cookies offrent une meilleure expérience sur notre site grâce à la personnalisation de nos recommandations de contenus et de services.</p></td>
                    <td><div class="custom_toggle_switch"><label><input type="checkbox" value="customization"><span></span> Accepter</label></div></td>
                </tr>
                <tr>
                    <td><h6>Cookies de réseaux sociaux</h6></td>
                    <td><p>Ces cookies sont déposés via des boutons de réseaux sociaux (<i>« partager »</i> ; <i>« j’aime »</i>) et vous permettent de partager du contenu sur vos profils. Ils peuvent également tracer votre navigation, que vous soyez utilisateur de ces plateformes ou non.</p></td>
                    <td><div class="custom_toggle_switch"><label><input type="checkbox" value="social"><span></span> Accepter</label></div></td>
                </tr> #}
                <tr>
                    <td><h6>Cookies de mesure d’audience</h6></td>
                    <td><p>Les services de mesures d’audience permettent de générer des statistiques de fréquentation et de navigation sur notre site. Les cookies utilisés permettent également d’identifier les problèmes de navigation et à terme, de les régler.</p></td>
                    <td><div class="custom_toggle_switch"><label><input type="checkbox" value="analytics"><span></span> Accepter</label></div></td>
                </tr>
            </table>
            <br/>
            <a href="javascript:;" class="btn" action="save">Enregistrer vos préférences</a>
            <a href="javascript:;" class="btn" action="reject">Tout refuser</a>
            <a href="javascript:;" class="btn" action="accept">Tout accepter</a>
        </div>
    </div>
</template>



{# TODO merge GTM, GA3 and GA4 scripts in order to be complaint and keeps track of events #}

{# Used for general stats #}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id=UA-45632429-1"></script>
<script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
    });
    gtag('config', 'UA-45632429-1');
</script>

<script type="text/plain" consent="analytics">
    gtag('consent', 'update', {
        'analytics_storage': 'granted'
    });
</script>

{# Used for events #}
<script type="text/plain" consent="analytics">
    <!--/*--><![CDATA[//> < !--
    /**/
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45632429-1', 'harmonie.fr');
    ga('send', 'pageview');
    //--><!]]>
</script>

<!-- Hotjar Tracking Code for https://www.harmonie.fr -->
<script type="text/plain" consent="analytics">
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2442415,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
